.msgBt {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgb(156, 18, 156);
}
.msgBt:hover {
  background-color: rgb(117, 9, 117);
  cursor: pointer;
}

.chatBoxbody {
  width: 350px;
  height: 500px;
  padding: 20px;

  position: absolute;
  bottom: 90px;
  left: 70px;
  background-color: #fff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.chatHead {
  width: 100%;
  height: 50px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: absolute;
  background-color: #fff;
}
.BackBt {
  width: 30px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  font-weight: 900;
}
.HeadTitle {
  width: 320px;
  height: 50px;

  display: flex;
  justify-content: start;
  align-items: center;
}
.OZLogo {
  width: 50px;
  height: 50px;
  border-radius: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 23px;
  background-color: #000;
  color: #fff;
}

.OZTitle {
  font-size: 200px;
  color: #fff;
}

.chatBox3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatListLBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatListComent {
  padding: 5px;
  border-radius: 10px;
  background-color: #e6e6e6;
}
.chatListTime {
  font-size: 13px;
}

.chatListRBox {
  float: right;
}
